<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<script src="https://fb.me/react-15.1.0.js"></script>
	<script src="https://fb.me/react-dom-15.1.0.js"></script>
		
	</script>
</head>
<body>
	<div id="reactContainer">

	</div>
	<script type="text/javascript" src="/static/js/site.js"> </script>
</body>
</html>