.aside{
    background: $aside-default-bg ;
    .section-title{
    	padding: 7px 10px 7px 15px ;
    }
    ul,li{
    	list-style: none;
    	padding: 0 ;
    	margin: 0 ;
    }
    .level-1{
    	padding: 7px 10px 7px 15px ;
    	margin: 0 ;
    }
    .level-2{
    	padding: 7px 10px 7px 30px ;
    	margin: 0 ;
    }
    .level-1, .level-2{
    	cursor: pointer;
    	display: block ;
    	.fa{
    		margin-right: 5px;
    	}
    	&:hover{
    		background: $aside-hover-bg ;
    		color: $aside-hover-color ;
    	}
    }
    .selected{
    	background: #fff;
        color: $aside-selected-color;
        border-left: 3px solid $aside-selected-color;
        font-weight: bold;
    	&:hover{
    		background: #fff ;
    	}
        
    }
}