
@import "../bootstrap/navbar";


.navbar {
	border-width: 0px;
	border-bottom-width: 1px;
	.navbar-brand{
		padding: 5px;
	}
}
.navbar-brand{
	padding-left: 15px ;
	img{
		display: inline-block ;
		height: 40px ;
	}
}